<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demonstration of OAuth 2.0 Flows</title>
        <!-- <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css"> -->
    </head>
    <body>
    	<h2>Client Credentials Flow</h2>
    	
    	<h3>Prepare Token Request</h3>
        
        <div>
	        <h3>Token Request</h3>
	        <!-- TODO Display HTTP request -->
        	
        </div>
        
        <div>
	        <h3>Token Response</h3>
	        <!-- TODO Display plain response (including JWT) -->
			AccessToken: <input type="text" th:field="*{tokenResponse.jsonResponse}" />
			<!-- TODO Display decoded JWT -->
        </div>
        
    </body>
</html>