<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demonstration of OAuth 2.0 Flows</title>
        <!-- <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css"> -->
    </head>
    <body>
    	<h2>Client Credentials Flow</h2>
    	
    	<h3>Prepare Token Request</h3>
        <form id="tokenRequest" th:action="@{/clientCredentials}" method="get" th:object="${request}">
	   		Client Key: <input type="text" th:field="*{key}" />
	   		Client Secret: <input type="text" th:field="*{secret}" />
            <div><input type="submit" value="Send Request" /></div>
        </form>
        
        <div th:if="${messageSent}">
	        <h3>Token Request</h3>
	        <!-- TODO Display HTTP request -->
        	
        </div>
        
        <div th:if="${messageSent}">
	        <h3>Token Response</h3>
	        <!-- TODO Display plain response (including JWT) -->
			Response: <input type="text" th:field="*{response.plain}" />
			<!-- TODO Display decoded JWT -->
			Response: <input type="text" th:field="*{response.decoded}" />
        </div>
        
    </body>
</html>