<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demonstration of OAuth 2.0 Flows</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <form id="flowSelection" th:action="@{/processForm}" method="post" th:object="${oauthFlow}">
    	
    	<h2>Demo-Client for OAuth 2.0</h2>
    	
    	<div>
			<h3>Select OAuth 2.0 Grant Type</h3>
			<i>Select the grant type that will be simulated. Make sure to match the requirements by selecting a trusted client (with secret) or a public client (without secret).</i>
			<p />
				<!-- <ul> -->
				  <div th:each="flowType : ${oauthFlowTypes}">
				    <input class="radio" type="radio" th:field="*{type}" th:value="${flowType.id}" />
				    <label th:for="${#ids.prev('type')}" th:text="${flowType.name} + ': ' + ${flowType.description}"></label>
				    <br/>
				  </div>
		<input type="submit" name="startFlow" value="Start Flow" />
		</div>

	   	<div>
	    	<h3>Client Configuration</h3>
	    	<i>Trusted and public client can be used from configuration or changed as needed. Values default to trusted client.</i> 
	    	<p />
	    	<input type="submit" name="trustedClient" value="Use Trusted Client Configuration" />
	    	<input type="submit" name="publicClient" value="Use Public Client Configuration" />
	    	<br/>
	    	
	    	<label for="clientKey">Client Key (required):</label><br />
	    	<input id="clientKey" type="text" th:field="*{key}" width="100" />
	    	<br/>
	    	
	    	<label for="clientSecret">Client Secret (required for trusted clients):</label><br />
	    	<input id="clientSecret" type="text" th:field="*{secret}" width="100" />
	    	<br/>
	    	
	    	<label for="redirectURI">Redirect URI (optional):</label><br />
	    	<input id="redirectURI" type="text" th:field="*{redirectUri}" width="200" />
	    	<br/>
	    	
	    	<label for="scope">Request Scope (optional):</label><br />
	    	<input id="scope" type="text" th:field="*{scope}" width="100" />
	    	<br/>
	   	</div>
	   	
	   	<div>
			<h3>Server Configuration</h3>
    		<i>This is the server from your configuration. Change values as needed.</i>
    		<p />
	    	<label for="authorizeUrl">Authorization URL:</label><br />
	    	<input id="authorizeUrl" type="text" th:field="*{authorizeUrl}" width="200" />
	    	<br/>
		   	<label for="tokenUrl">Token URL:</label><br />
		   	<input id="tokenUrl" type="text" th:field="*{tokenUrl}" width="200" />
		   	<br/>    	
		   	<label for="jwkUrl">JWK URL:</label><br />
		   	<input id="jwkUrl" type="text" th:field="*{jwkUrl}" width="200" />
		   	<br/>    	
		   	<label for="expectedSignatureAlgorithm">Expected signature algorithm:</label><br />
		   	<select class="form-control" th:field="*{expectedSignatureAlgorithm}"
				id="expectedSignatureAlgorithm">
				<option th:value="'NONE'" th:text="'NONE'"></option>
				<option th:value="'RS256'" th:text="'RS256'"></option>
				<option th:value="'ES256'" th:text="'ES256'"></option>
			</select>
		   	<br/>    	
    	</div>

	</form>
    </body>
</html>