<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demonstration of OAuth 2.0 Flows</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <form id="flowSelection" th:action="@{/startFlow}" method="post" th:object="${oauthFlow}">
    	
    	<h2>Select Flow for OAuth 2.0</h2>
    	<div>
			<h3>Server Configuration</h3>
    	
	    	<label for="authorizeUrl">Authorization URL:</label>
	    	<input id="authorizeUrl" type="text" th:field="*{authorizeUrl}" width="200" />
	    	<br/>
		   	
		   	<label for="tokenUrl">Token URL:</label>
		   	<input id="tokenUrl" type="text" th:field="*{tokenUrl}" width="200" />
		   	<br/>    	
    	</div>
	   		
	   	<div>
	    	<h3>Client Configuration</h3>
	    	<label for="clientKey">Client Key:</label>
	    	<input id="clientKey" type="text" th:field="*{key}" width="100" />
	    	<br/>
	    	
	    	<label for="clientSecret">Client Secret:</label>
	    	<input id="clientSecret" type="text" th:field="*{secret}" width="100" />
	    	<br/>
	    	
	    	<label for="redirectURI">Redirect URI:</label>
	    	<select class="form-control" th:field="*{redirectUri}"
				id="redirectURI">
				<option th:value="'http://localhost:8086/api/authcode'" th:text="'http://localhost:8086/api/authcode'"></option>
				<option th:value="'http://localhost:8086/api/decodeToken'" th:text="'http://localhost:8086/api/decodeToken'"></option>
			</select>
	    	<!-- <input id="redirectURI" type="text" th:field="*{redirectUri}" width="200" /> -->
	    	<br/>
	    	
	    	<label for="scope">Request Scope:</label>
	    	<input id="scope" type="text" th:field="*{scope}" width="100" />
	    	<br/>
	    	
	    	<p>
	    	Public: oVGaMYCGRBCd4EG9VUTi8w <br/>
	    	Trusted: OVfR_-Y4QuqTVxuRLVDvZg &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trc1YF_JTtyhjrnbFN5Q9Q
	    	</p>
	   	</div>

	   	<div>
	    	<h3>User for Password Grant</h3>
	    	<label for="username">Username:</label>
	    	<input id="username" type="text" th:field="*{username}" width="100" />
	    	<br/>
	    	
	    	<label for="userpassword">User password:</label>
	    	<input id="userpassword" type="text" th:field="*{userpassword}" width="100" />
	    	<br/>
	   	</div>

		<div>
			<h3>Select Flow</h3>
				<label for="oauthFlow">OAuth flow to start:</label>
				<select class="form-control" th:field="*{type}"
					id="oauthFlow">
					<option th:each="flowType : ${oauthFlowTypes}" th:value="${flowType.id}"
						th:text="${flowType.name}"></option>
				</select>
		</div>
		<p/>
		<input type="submit" value="Start Flow" />
	</form>
    </body>
</html>