<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Demonstration of OAuth 2.0 Flows</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
    	<h2>Resource Owner Password Grant</h2>
    	
        <div>
	        <h3>Token Request</h3>
	        <p>
				<label for="tokenRequest">OAuth Request:</label>
				<textarea id="tokenRequest" th:field="*{result.tokenRequest}" ></textarea>
			</p>
        </div>
        
        <div th:style="${result.isValidSignature} ? 'background-color:#99ff99' : 'background-color:#ff9999'">
	        <h3>Token Response</h3>
			<p>
				<label for="oauthResponse">OAuth Response:</label>
				<textarea id="oauthResponse" th:field="*{result.tokenResponse}" ></textarea>
			</p>
			<p>
				<label for="jwt">JWT:</label> 
				<textarea id="jwt" th:field="*{result.accessToken}" ></textarea>
			</p>
			<p>
				<label for="claimsSet">Claims Set:</label>
				<textarea id="claimsSet" th:field="*{result.jwtClaimsSet}" ></textarea>
			</p>
        </div>
        
    </body>
</html>